<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.test.gateway.server.biz.mapper.PartnerMapper">

  <sql id="columns">
  	`id`			as "id",
    `partner_id`	as "partnerId",
    `name`			as "name",
    `configs`		as "configs"
  </sql>
  
  <sql id="querys">
    <if test="id != null"> 
      and `id` = #{id}
    </if>
    <if test="partnerId != null and partnerId != ''"> 
      and `partner_id` = #{partnerId}
    </if>
    <if test="name != null and name != ''"> 
      and `name` = #{name}
    </if>
    <if test="configs != null and configs != ''"> 
      and `configs` = #{configs}
    </if>
  </sql>
  
  <select id="get" resultType="com.github.hualuomoli.test.gateway.server.biz.entity.Partner">
    select 
      <include refid="columns" />
    from `t_partner`
    where id =  #{id}
  </select>
  
  <select id="findList" resultType="com.github.hualuomoli.test.gateway.server.biz.entity.Partner">
    select
      <include refid="columns" />
    from `t_partner`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>